{% extends 'index.html' %}
{% block body %}
<div class="content-body">
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center"> <u>Add Deposit Address</u> </h2><br>
                        {% if error %}
                        <p class="text-center" style="color:red;">{{ error }}</p>
                        {% endif %} <br>
                        <div class="basic-form">
                            <form method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">

                                    <label for="network">Network:</label>

                                    <select name="network" id="network" class="form-control" required>
                                        {% for network in networks %}
                                            <option value="{{ network.id }}">{{ network.name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="form-group">

                                    <label for="deposit_address">Deposit Address:</label>

                                    <input type="text" name="deposit_address" id="deposit_address"
                                        class="form-control input-rounded" required>
                                </div>

                                <button type="submit" class="btn w-50 label gradient-7 btn-rounded">Add Address</button>

                            </form><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}